/* App.css */

/* Color variables */
:root {
  --primary-color: #FD671E;
  --secondary-color: #78C0E0;
  --up-color: #00A878;
  --down-color: #BF2424;
  --text-color: rgba(0, 0, 0, 0.5);
  --main-font: 'futura';
  --backup-font: 'sans-serif';
  --background-color: #FFFFFF;
  --main-padding: 20px;
}

/* Resetting some default browser styles */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font), var(--backup-font);
  background-color: var(--background-color);
}

/* Navbar styles */
nav {
  background-color: var(--primary-color);
  height: 200px;
  width: 100%;
  top: 0;
  position: fixed;
}

/* Main content styles */
main {
  margin-top: 200px;
  margin-bottom: 100px;
  height: calc(100vh - 300px);
  overflow-y: auto;
}

/* Footer styles */
footer {
  background-color: var(--primary-color);
  height: 100px;
  width: 100%;
  bottom: 0;
  position: fixed;
}